{% extends 'base.html' %}

{% block title %}
<title>Delete</title>
{% endblock title %}

{% block content %}
<main>
    <div>
        <h1>Are you sure?</h1>
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <div>
                <button>Delete</button>
            </div>
        </form>
    </div>
</main>
{% endblock content %}