{% extends 'base.html' %}
{%block title %}
    <title>Todo Item</title>
{% endblock title %}

{% block content %}
    <main>
        <div>
            <h1>{{todo_detail.name}}</h1>
            <p>
                <a href="{% url 'todo_list_update' todo_detail.id %}">Edit</a>
            </p>
            <p>
                <a href="{% url 'todo_list_delete' todo_detail.id %}">Delete</a>
            </p>
            <h2>Tasks</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Due Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in todo_detail.items.all %}
                        <tr>
                            <td>
                                <a href="{% url "todo_item_update" item.pk %}">{{item.task}}</a>
                            </td>
                            <td>{{item.due_date}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    </main>
{% endblock content %}