{% extends 'base.html' %}

{% block title %}
<title>Todo Lists</title>
{% endblock title%}

{% block content %}
    <main>
        <div>
            <h1>My Lists</h1>
            <p>
                <a href="{% url 'todo_list_create' %}">Create A New List</a>
            </p>
            <p>
                <a href="{% url 'todo_item_create' %}">Create A New Item</a>
            </p>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of Items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo in todo_list%}
                    <tr>
                        <td>
                            <a href="{% url 'todo_list_detail' todo.pk %}">{{todo.name}}</a>
                        </td>
                        <td>{{todo.items.all|length}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}